export WEBSFLYER_RELEASE_ARCHIVE=""
export WEBSFLYER_RELEASE_ENV=""
export PACKER_AWS_ACCESS_KEY_ID=""
export PACKER_AWS_SECRET_ACCESS_KEY=""
export PACKER_AWS_ACCOUNT_ID=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
